.principal-header{
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  aspect-ratio: 1;
  cursor: pointer;
}

.pages-nav > ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.pages-nav > ul > li{
  transition: 100ms all ease;
}

.pages-nav > ul > li:hover{
  cursor: pointer;
  color: var(--clr-primary);
}

.selected{
  color: var(--clr-primary);
}

.principal-footer{
  padding: 4rem 0;
  background: var(--clr-secondary);
  color: var(--clr-light-text);
}

.footer-grid {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.footer-h3{
  color: var(--clr-light-text);
}

.footer-info-container{
  width: 100%;
  display: grid;
  place-items: center;
  gap: 1rem;
}

.footer-info-container > * + * :hover{
  cursor: pointer;
  color: var(--clr-primary);
}

.footer-info-container > .footer-icons-container{
  display: flex;
  gap: .5rem;
}

.principal-footer .contact >  .footer-icons-container{
  display: grid;
  gap: .2rem;
}

.principal-footer .contact > .footer-icons-container > span{
  display: flex;
  align-items: center;
  gap: 5px;
}
